.login-container{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login-card{
    border: 2px solid black;
    border-radius: 15px;
    /* background-color:#8496a9; */
    height: 50%;
}

.header{
    display: flex;
    justify-content: center;
}

.login-form-container{
    display: flex;
    border: 2px solid red;
    height: 50%;
}

.login-form-username{
    display: flex;
}

.username-label{
    display: flex;
    justify-content: center;
}

.username-input{
    border: 1px dotted red;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}